<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="Author" content="Louis"/>
    <meta name="keywords" content="blog, 博客, 清华, 无线"/>
    <meta name="description" content=""/>
    <title>登录</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/bootstrap-theme.min.css') }}"/>
    <script src="{{ url_for('static', filename='JS/bootstrap.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='JS/jquery-1.11.2.min.js') }}" charset="utf-8"></script>
</head>
<body>

</body>
</html>